:root {
    --color-orange: #E27D60;
    --color-lime: #85DCb0;
    --color-light-orange: #E8A87C;
    --color-purple: #c38d9e;
    --color-green: #41B3A3;

}

html{
    text-align: center;
    background-color: var(--color-lime);
}

h1 {
    font-size: 5rem;
}

input[type="text"] {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 5px solid var(--color-orange);
}

button {
    border: 3px solid var(--color-orange);
    border-radius: 10px;
    font-size: 1.2rem;
    padding: .3rem .5rem;
    background-color: var(--color-green);
}

button:hover{
    cursor: pointer;
    border: var(--color-green);
    background-color: var(--color-orange);
}